{
    box-sizing: border-box;
}
#topmenu{
    width: 100%;
    float: right;
    text-align: center;
}
.clearboth{
    clear: both;
}
ul li{
    display:inline-block;
    list-style-type:none;
    margin:10px;
    text-align: center;
    padding: 20px;
    width: 80px;

}
ul li a{
    text-decoration: none; color:black;
border: 0px solid black;    
}
div, header, section{
    border:0px solid black;
padding: 20px;
}
#banner{
    background-image: url("../moatacademy/images/bg-woman-phone-dog.jpeg");
    min-height: 800px;
    background-size:contain;
text-align: center;
opacity: 0.9;
}
#companyname{
    width: 20%;
    float: left;
}
#socialmedia{
    width: 80%;
    float:right;
}
.clear-both{
    clear: both;
}
#bannertext{
    border: 0px solid #000;
    color:white;
    padding-top:100px;
}
#searchform{
    border:0px solid #000;
    width:80%;
    padding: 20px;
    margin:auto;
    box-shadow: 6px 8px 15px lightgrey;
    margin-top: -40px;
    background-color:burlywood;
}
#searchform input{
       padding: 5px;
}
#why-us{
    width:85%;
    margin-top: 20px;
text-align: center;
}