h1{
    border:2px solid red;
    padding:50px 20px 50px;
    margin:10px 20px;
}
body{
    padding:0px;margin:0px;
}
ul li{
    display:inline-block;
    list-style-type:none;
    width: 100px;
    border:1px solid red;
    padding:5px;margin:10px;
text-align: center;
background-color: orange;
border-radius:25% 45% 20% 45%;
}
ul{
    background-color: rgba(255,0,0,0.5);
    border-radius: 4%;
    text-align: center;
}
ul li a{
    text-decoration: none; color:white;
}